<%- include('header') %>
<main class="container mt-5">
    <h2 class="text-center">Thank You, <%= name %>!</h2>
    <p>We really appreciate your feedback: <strong><%= icecream %></strong> is the Icecream you have ordered.</p>
    <p>Your rating is <strong><%= rating %> out of 5</strong></p>
    <p>Your feedback: <strong><%= feedback %></strong></p>
</main>
<%- include('footer') %>
